@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
h1{
    font-family: 'Righteous';
}
h2{
    font-family: 'Roboto';
}

a{
    font-family: 'Roboto';
}
button{
    font-family: 'Righteous';

}